* {box-sizing: border-box;
padding: 0;
margin: 0;
}

body { 
font-family: "Montserrat";
height: 2000px;
}

header {
    font-size: 80px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 120px;
    height: 250px;
    background-image: url(images/Asset\ 1-100.jpg);
    background-size: contain;
    background-position-x: left;
    background-repeat: no-repeat;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(
        rgb(255, 0, 0) 0%,
        rgb(0, 0, 0) 100%
      );
    height: 60px;
}
h2 {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.F {
    display: flex;
    background-position-y: center;
justify-content: center;
align-items: center;
}

.grid-container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   justify-content:space-evenly;
   height: 1200px;
   }
 
  .grid-item1 {
    background-image: url("images/Asset\ 1-100.jpg");
    background-position: center;
    background-size:cover;
    background-color: black;
    
  }
 
.grid-item2 {
    background-image: url("images/Samurai Logo (1).jpg");
    background-position: center;
    background-size:150%;
    background-color: black;
    background-size:cover;
}

.grid-item3 {
    background-image: url("images/Asset\ 50.png");
    background-position: center;
    background-size: cover;
    background-color: black;
}

.grid-item4 {
    background-image: url("images/gskitchen_mockup.jpg");
    background-position:center;
    background-size: cover;
    background-color: black;
}

.grid-item5 {
    background-image: url("images/vegan_mockup.jpg");
    background-position: center;
    background-size: cover;
    background-color: black;
}

.grid-item6 {
    background-image: url("images/Coffee\ menu_gskitchen.jpg");
    background-position:center;
    background-size: cover;
    background-color: black;
}

nav a:hover {
    background-color: rgb(0, 0, 0);
    border-color: rgb(131, 12, 12);
}

.grid-item1 h2:hover {
    background-color: rgb(156, 10, 10);
    border-color: rgb(207, 207, 207);
}
.grid-item2 h2:hover {
    background-color: rgb(156, 10, 10);
    border-color: rgb(207, 207, 207);
}

.grid-item3 h2:hover {
    background-color: rgb(156, 10, 10);
    border-color: rgb(207, 207, 207);
}

.nav2 {
    color: whitesmoke;
    justify-content:space-evenly;
    align-items: center;
}
  
p {
    color: whitesmoke;
    font-size: 25px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    align-items: flex-start;
    justify-content: first baseline;
}

  a {
    font-size: 20px;
    color: whitesmoke;
    margin-left: 10px;
}

.flex-container {
    justify-content: center;
    display: flex;
    flex-direction: row;
    background-color: black;
    height: 300px;
    
}

.flex-item1 {
    margin-top: 30px;
    display: flex;
    height: 300px;
    width: 300px;
    background-image: url(images/myportfolio\ QR.png);
    background-size: contain;
    background-position: center;
    align-content: center;
    justify-content: center;

}

.Title1 {
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.Title2 {
    color: rgb(255, 255, 255);
    font-size: 30px

}
.Title3 {
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.Paragraph {
    color: rgb(255, 255, 255);
    width: 900px;
}

.flex-container3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
    background-image: linear-gradient(
        rgb(255, 0, 0) 0%,
        rgb(0, 0, 0) 100%   );
    
}


.flex-item-3 {

    height: 300px;
    width: 400px;
    background-color: white;
}

.flex-item-4 {

    height: 300px;
    width: 400px;
    background-color: white;
}
.flex-item-5 {

    height: 300px;
    width: 400px;
    background-color: white;
}
@media screen and (min-width: 768px) {
    /* on tablets, set columns to only be 50% of the width and not grow */
    .card-column {
      flex: 0 0 100%;
      max-width: 50%;
    }}

