* {box-sizing: border-box;
padding: 0;
margin: 0;
}

html { scroll-behavior:smooth;} 

body { 
font-family: "Montserrat";
}


header {
    font-size: 70px;
    background-color: black;
    color: white;
    display: flex;
    height: 250px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(
        rgb(255, 0, 0) 0%,
        rgb(0, 0, 0) 100%
      );
    height: 60px;
}
h2 {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 2;
}
.F {
    display: flex;
justify-content: center;
align-items: center;

}

.grid-container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   justify-content:space-evenly;
   height: 1200px;
   flex-wrap: wrap;
   }
 
  .grid-item1 {
    background-image: url("images/Asset\ 1-100.jpg");
    background-position: center;
    background-size:cover;
    background-color: black;
    
  }
 
.grid-item2 {
    background-image: url("images/Samurai Logo (1).jpg");
    background-position: center;
    background-size:150%;
    background-color: black;
    background-size:cover;
}

.grid-item3 {
    background-image: url("images/Asset\ 50.png");
    background-position: center;
    background-size: cover;
    background-color: black;
}

.grid-item4 {
    background-image: url("images/gskitchen_mockup.jpg");
    background-position:center;
    background-size: cover;
    background-color: black;
}

.grid-item5 {
    background-image: url("images/vegan_mockup.jpg");
    background-position: center;
    background-size: cover;
    background-color: black;
}

.grid-item6 {
    background-image: url("images/Artboard\ 1.jpg");
    background-position:center;
    background-size: cover;
    background-color: black;
}

nav a:hover {
    background-color: rgb(0, 0, 0);
    border-color: rgb(131, 12, 12);
    

}

.grid-item1 h2:hover {
    background-color: rgb(156, 10, 10);

}
.grid-item2 h2:hover {
    background-color: rgb(156, 10, 10);
   
}

.grid-item3 h2:hover {
    background-color: rgb(156, 10, 10);
    
}

p {
    color: whitesmoke;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
    align-items: flex-start;
    justify-content: baseline;
    
}

p:hover {
    background-color: rgb(0, 0, 0);
    border-color: rgb(131, 12, 12);
}
  a {
    font-size: 24px;
    color: whitesmoke;
    margin-left: 0px;
}

.flex-container {
    display: flex;
    background-color: black;
    height: 350px;
    padding:40px ;
    background-image: linear-gradient(
        rgba(255, 0, 0, 0.602) 0%,
        rgb(0, 0, 0) 100%
      );
    
    
}

.flex-container2 {
    display: flex;
    background-color: black;
    height: 350px;
    padding:40px ;
}

.flex-item1 {
    height: 300px;
    width: 300px;
    display: flex;
    flex-grow: 1;
    background-image: url(images/myportfolio\ QR.png);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
  


}
.Title1 {
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.Title2 {
    color: rgb(255, 255, 255);
    font-size: 30px

}
.Title3 {
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.Paragraph1 {
    color: rgb(255, 255, 255);
    justify-content: center;
    display: flex;
    flex-shrink: 2;
}

.Paragraph2 {
    color: rgb(255, 255, 255);
    font-size: 27px;
}
.flex-item-3 {

    height: 300px;
    width: 400px;
    background-color: rgb(3, 0, 0);
}

.flex-item-4 {

    height: 300px;
    width: 400px;
    background-color: white;
}
.flex-item-5 {

    height: 300px;
    width: 400px;
    background-color: white;
}

h3 {
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-content: center;
    color: black;
}

#About { font-size: 20px;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: black;
    height: 350px;
    background-color:  rgb(0, 0, 0);
}

.video-container {
    display: flex;
    margin: 10px;
   
    


}
    

